:ruby
  # Partial for displaying an inline form for creating a comment
  # === Parameters
  # blog<Blog>:: The Blog instance to attach the comment to.  This is optional,
  #              and if left off will send an email.

- error_li = lambda { |err| "<li>#{ err.last.join('<br />') }</li>" }
//= error_messages_for( @comment, error_li, 'errors' ) { |es| "<strong>#{es.size} problem(s) prevented your comment from saving:</strong>" }

- action = @comment.blog_id ? new_blog_comment_url(:blog_id => @blog.id) : new_comment_url
- form_for( @comment ) do |f|
  %dl{ :class => "#{ 'compact' if @comment.blog_id }"}
    %dt= f.label( :author_name, 'Name*' )
    %dd= f.text_field( :author_name, :size => 30, :class => 'larger' )

    %dt= f.label( :author_email, 'Email' )
    %dd= f.text_field( :author_email, :size => 30, :class => 'larger' )

    %dt= f.label( :author_website, 'Website' )
    %dd= f.text_field( :author_website, :size => 30, :class => 'larger' )

    %dt= f.label( :body, 'Comment*' )
    %dd= f.text_area( :body, :class => 'larger', :cols => 37, :rows => 5 )
    %dd= f.submit( 'Send' )