:ruby
  # Partial for displaying a form for creating or editing a blog
  # Parameters:
  #  blog - blog object to edit or optionally create

//- action = blog.new_record? ? new_admin_blog_url : edit_admin_blog_url(:id => blog.id)
- form_for( blog ) do |f|
  - unless blog.new_record?
    %input{ :name => '_method', :type => 'hidden', :value => "put" }

  %dl
    %dt= f.label( :title )
    %dd= f.text_field( :title, :size => 50, :class => 'larger' )

    %dt= f.label( :title, 'Category' )
    - collection = Category.all.unshift( Category.new ).push( Category.new( :title => '-- Add a new Category --' ) )
    - onclick  = "if(this.value == ''){var title=prompt('What is the name of your new category?');"
    - onclick += "o=this.options[this.selectedIndex];o.value=title;o.innerHTML=title;}"
    %dd= f.collection_select( :category_id, collection, 'id', 'title', :onclick => onclick, :selected => blog.category_id )

    %dt
      %label{ :for => 'blog_publish' } Published?
    %dd
      = f.check_box( :published, :value => 1 )
      - if blog.published
        = "Published at #{ blog.published }"

    %dt
      %label{ :for => 'blog_comments_expire_at' } Comment expiration
    %dd
      = f.date_select(:comments_expire_at)
      //%select{ :name => 'blog[comments_expire_at][year]' }
      //  - collection = ( Date.today.year .. Date.today.year + 4 ).to_a
      //  = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:year) )
      //%select{ :name => 'blog[comments_expire_at][month]' }
      //  - collection = ( 1 .. 12 ).to_a
      //  = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:month) )
      //%select{ :name => 'blog[comments_expire_at][day]' }
      //  - collection = ( 1 .. 31 ).to_a
      //  = options_for_selectt( collection, :selected => blog.comments_expire_at.try(:day) )

    %dt= f.label( :body )
    %dd~ f.text_area( :body, :cols => 50, :rows => 20, :class => 'larger' )
    %dd= f.submit( 'Save blog' )